.contact-page {
    font-family: 'Nunito Sans', Arial, sans-serif;
    position: relative;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
  }
  
  .contact-page__header {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  .contact-page__hero-section {
    width: 100%;
    text-align: center;
    background-image: url('/src/assets/images/Service.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-page__hero-section h1 {
    font-size: 2.5rem;
    margin: 0;
  }
  
  .contact-page__main {
    padding: 20px;
    position: relative;
    z-index: 1;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .contact-page__form {
    background-color: rgb(244, 244, 244);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
  }
  
  .contact-page__form label {
    font-weight: bold;
  }
  
  .contact-page__form input,
  .contact-page__form textarea {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .contact-page__form button {
    padding: 10px;
    font-size: 1rem;
    background-color: #6ab04c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contact-page__info {
    margin-top: 40px;
    text-align: center;
    max-width: 800px;
    width: 100%;
  }
  
  .contact-page__info p {
    font-size: 1.1rem;
    margin-bottom: 30px;
  }
  
  .contact-page__info-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  
  .contact-page__info-item {
    display: flex;
    align-items: center;
    width: 200px;
    padding: 10px;
    text-align: left;
    opacity: 0; 
    transform: translateY(50px); 
    transition: transform 0.5s ease-out, opacity 0.5s ease-out; 
  }
  
  .contact-page__info-item.animate-up {
    opacity: 1;
    transform: translateY(0); 
  }
  
  .contact-page__info-item div {
    margin-left: 10px; 
  }
  
  .contact-page__info-item h3 {
    margin: 0;
    font-size: 1rem;
    color: #333;
  }
  
  .contact-page__info-item p {
    margin: 0;
    font-size: 0.95rem;
    color: #555;
  }
  
  .contact-icon {
    font-size: 1.5rem;
    color: #6ab04c;
  }
  
  .contact-page__divider {
    height: 50px;
    width: 1px;
    background-color: #ddd;
    margin: 0 20px;
  }
  
  @media (max-width: 768px) {
    .contact-page__info-details {
      flex-direction: column;
    }
  
    .contact-page__divider {
      display: none;
    }
  }
  