@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

.header {
  font-family: 'Nunito Sans', Arial, sans-serif;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f7f0f0;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 102.4%;
  background-image: url(/src/assets/images/hero1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
  transition: transform 0.5s ease-in-out;
}

.header-content {
  font-family: 'Nunito Sans', Arial, sans-serif;
  z-index: 1;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.top-bar {
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 2rem);
}

.logo h1 {
  font-family: 'Nunito Sans', Arial, sans-serif;
  font-size: 2rem;
  margin-top: 35px;
  animation: fadeIn 3.5s ease forwards;
  transform: rotateY(20deg);
  color: #121212;
  font-size: 20px;
  margin-left: 5px;
  font-weight: 900;
}

.navbar-brand:hover {
  color: #96bb7c;
}

.navbar {
  background: transparent !important;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 3;
}

.navbar li {
  display: inline-block;
  padding: 0.5rem;
}

.navbar li a {
  color: #121212;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar li a:hover {
  color: #96bb7c;
}

.header-text {
  font-family: 'Nunito Sans', Arial, sans-serif;
  margin-top: 8rem;
  text-align: left;
  max-width: 700px;
  margin-left: -10px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.header-text.animate-up {
  opacity: 1;
  transform: translateY(0);
}

.header-text h1 {
  font-family: 'Nunito Sans', Arial, sans-serif;
  font-size: 60px;
  color: #000000;
  line-height: 1.1;
  font-weight: 400;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
}

.header-text h1 span {
  white-space: nowrap;
  width: max-content;
}

.header-text p {
  font-family: 'Nunito Sans', Arial, sans-serif;
  font-size: 18px;
  max-width: 90%;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
}

.header-buttons {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.header-buttons.animate-up {
  opacity: 1;
  transform: translateY(0);
}

.explore-projects,
.watch-video {
  font-family: 'Nunito Sans', Arial, sans-serif;
  background-color: #96bb7c;
  border: none;
  color: white;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.explore-projects:hover,
.watch-video:hover {
  background-color: #96bb7c;
}

.sticky-navbar {
  font-family: 'Nunito Sans', Arial, sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  color: #333;
  display: none;
  justify-content: flex-end;
  padding: 3rem 3rem;
  z-index: 1000;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 0;
  transform: translateY(-100%);
}

.sticky-navbar.sticky {
  display: flex;
  opacity: 1;
  transform: translateY(0);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.watch-video {
  display: flex;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
  gap: 0.5rem;
}

.watch-video:hover {
  background-color: #f0f0f0;
}

.video-icon {
  font-family: 'Nunito Sans', Arial, sans-serif;
  background-color: #96bb7c;
  color: white;
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.watch-video span {
  font-size: 1rem;
  color: #333;
}

.header-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .header-content {
    align-items: center;
  }

  .header-text {
    max-width: 100%;
    text-align: center;
  }

  .sticky-navbar {
    padding: 1rem;
  }

  .top-bar {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .navbar {
    justify-content: center;
  }
}
